.queryContainer{
    width: 100%;
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    gap: 1rem;
}
.queryContainerBox{
    display: grid;
    width: 100%;
    place-items: center;
    margin-bottom: 3em;
}